
.PARRAFO{
    color: blueviolet;
    

    
}
body{
    background
}
.MISUEÑO{
    color: aqua;
}
#TITULO{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure; 
    background-color: rgb(4, 92, 92);
    display: inline-block;
    padding: 50px;
    position: relative;
    border-radius: 400px;
    box-shadow: 30px 18px 15px 10px rgb(20, 18, 9);
    bottom: 20PX;
    left: 200PX;
    right: 0PX;
}
H2 P{
    font-size: 34PX;
    color: brown;
    
}
H2 B{
    color: bisque;
    font-size: 45PX;
}
.H2TEXTO B span{
    color: brown;
    font-size: 50px;
}
.H2TEXTO B{
    color: aliceblue;
    font-size: 25px;
}
#TITULO

